.carousel-item{
    img{
        width: 100%;
        filter: brightness(20%);
        height: 100vh;
    }
}



.carousel-indicators{
    li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
}
.bordure{
    img{
        height: 15px;
        background-repeat: repeat-x;
        background-image: url(../images/bottom_decoration_img.png);
    }
}
button{
    margin-bottom: 10%;
    a{
        text-decoration: none;
    }
}
.h1courgette{
    font-size: 8vw;
    width: 200%;
    
}

 

