.carousel-item{
    img{
        width: 100%;
        filter: brightness(20%);
        height: 100vh;
    }
}
.carousel-caption{
    @include media-breakpoint-down(md){

    }

}
.carousel-indicators{
    li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
}
